.detailsBackground{
    background-image: url('../../Imagenes/Landing2.jpg');
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Copperplate, Papyrus, fantasy;
    
}

.detailsContainer{
    
    margin-top: 10px;
    
}